section.detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
section.detail > div {
  width: 40%;
}
section.detail > div:last-child {
  padding-left: 2rem;
  box-sizing: border-box;
  width: 60%;
}
img {
  width: 100%;
}
.loader {
  text-align: center;
}
@media (max-width: 600px) {
  section.detail > div:last-child {
    padding-left: 0;
    padding-top: 2rem;
    width: 100%;
  }
}
